.container {
  display: block;

}
.jumbotron {
    margin-bottom: 2em;
    color: #efefef;
    height: 200px;
    position: relative;
    background-color: gray;

  } 

.movie-wrapper {
    margin-bottom: 0;
  }
  
.movie-pic {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    
    
  }
.btn-primary {
  background-color: rgb(29, 147, 226);
  border-color: rgb(29, 147, 226);
  color:white;
  font-size: 15px;
}

h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
  }