
.search-box {
    display: block;
    text-align: start;
    width: 100%;
    padding: 10px;
  
    border: none;
    outline: none;
  
    background-color: white;
    border-radius: 7px;
  
    color: #53565A;
    font-size: 15px;  
  }
  
  .search-box:focus {
    box-shadow: 0px 0px 8px 3px;
  } 

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #53565A;
    background: #53565A;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
