nav {
	display: flex;
	justify-content: space-between;
	min-height: 6vh;
	align-items: center;
	background-color:black;
	padding: 12px;
}

a {
	color:white;
	text-decoration: none;
	background-color: transparent;
}
a:hover, a:focus, a:active
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

nav .logo {
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
}

nav .navbar-links {
	display: flex;
	justify-content: space-around;
	width: 23%;
	list-style-type: none;
}

nav .navbar-links li {
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	color: white;

}

nav .navbar-links li:hover {
	border-bottom: 1px solid white;
}
