* {
  box-sizing: border-box;
  justify-content: center;
  
}

body {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  /* margin: 125px; */

  
}

.app-container {
  display: flex;
  flex-wrap: wrap;

} 

header {
  background-color:  darkgrey;
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

.search-box {
  display: block;
  width: 100%;
  padding: 10px;

  border: none;
  outline: none;

  background-color: white;
  border-radius: 8px;

  color: #53565A;
  font-size: 15px;


}

.search-box:focus {
  box-shadow: 0px 0px 8px 3px;
}